## Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
def assign_categorie(type_equipement):
    if type_equipement in ['Bibliothèque', "Centre d'art", 'Centre de création artistique', 'Cinéma','Centre de création musicale', 'Théâtre', 'Conservatoire','Librairie', 'Musée', 'Opéra',"Centre culturel", "Scène"]:
        return ('vivant')
    elif type_equipement in ["Service d'archives", 'Monument','Parc et jardin', 'Lieu de mémoire', "Espace protégé",'Lieu archéologique']:
        return ('patrimoine')
    elif type_equipement ==  "Établissement d'enseignement supérieur":
        return ('Strange')
    else:
        return None  # Si un monument ne correspond à aucune catégorie

## Paths

In [3]:
path_data='./src/data_basilics/'
name_file_lieux_equipements_culturels = 'base-des-lieux-et-des-equipements-culturels.csv'
#name_file_cinema = 'data_cinema/exploitation - liste des établissements actifs -.xlsx'

## Load data

In [4]:
# culturels
df_culturels=pd.read_csv(path_data+name_file_lieux_equipements_culturels, sep=';', on_bad_lines='skip' ,encoding='utf-8',low_memory=False)
df_culturels.head()

,Source,Nom,Adresse,Complement Adresse,Code Postal,libelle_geographique,code_insee,Code Insee Arrondt,Identifiant origine,Type équipement ou lieu,...,Annee_Label_Appellation,Latitude,Longitude,Demographie_AP,Demographie_detail_entree,Démographie_detail_sortie,Multi_equipements,identifiant_QPV_24,identifiant_QPV_15,coordonnees_geo
0,Ministère de la Culture - Service du livre et ...,Médiathèque de COMMENSACQ,200 ROUTE DE TRENSACQ,NaN,40210.0,Commensacq,40085,402,LI14040,Bibliothèque,...,NaN,44.2106959785251,-0.822884754184157,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"44.2106959785251, -0.822884754184157"
1,Ministère de la Culture - Service du livre et ...,Bibliothèque MUNICIPALE de CREON-D'ARMAGNAC,"12, Rue Raoul Follereau",NaN,40240.0,Créon-d'Armagnac,40087,402,LI7880,Bibliothèque,...,NaN,43.993868098598,-0.105588386166206,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.993868098598, -0.105588386166206"
2,Ministère de la Culture - Service du livre et ...,Bibliothèque de GELOUX,2 PLACE DE LA MAIRIE,NaN,40090.0,Geloux,40111,402,LI7888,Bibliothèque,...,NaN,43.9810194468607,-0.638822931528512,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.9810194468607, -0.638822931528512"
3,Ministère de la Culture - Service du livre et ...,Médiathèque CHALOSSE TURSAN HAGETMAU,4 PLACE GRAMONT,NaN,40700.0,Hagetmau,40119,402,LI1734,Bibliothèque,...,NaN,43.6573228675739,-0.593452338732522,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.6573228675739, -0.593452338732522"
4,Ministère de la Culture - Service du livre et ...,Médiathèque de HINX,100 ROUTE DE DAX,NaN,40180.0,Hinx,40126,401,LI7894,Bibliothèque,...,NaN,43.701671909797,-0.927995381193468,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.701671909797, -0.927995381193468"

In [5]:
df_culturels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73791 entries, 0 to 73790
Data columns (total 54 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Source                                   73760 non-null  object
 1   Nom                                      73791 non-null  object
 2   Adresse                                  43422 non-null  object
 3   Complement Adresse                       335 non-null    object
 4   Code Postal                              72851 non-null  float64
 5   libelle_geographique                     73774 non-null  object
 6   code_insee                               73791 non-null  object
 7   Code Insee Arrondt                       73684 non-null  object
 8   Identifiant origine                      67814 non-null  object
 9   Type équipement ou lieu                  73791 non-null  object
 10  Label et appellation                     53952 non-null  object
 11  Région                                   73791 non-null  object
 12  Domaine                                  73791 non-null  object
 13  Sous-domaine                             51628 non-null  object
 14  Archéologie détail                       562 non-null    object
 15  Adresse postale                          72759 non-null  object
 16  Département                              73791 non-null  object
 17  Précision équipement                     66735 non-null  object
 18  N_Département                            73791 non-null  object
 19  N_Région                                 73784 non-null  float64
 20  Fonction_1                               73784 non-null  object
 21  Fonction_2                               20192 non-null  object
 22  Fonction_3                               22 non-null     object
 23  Fonction_4                               22 non-null     object
 24  Multiplexe                               2139 non-null   object
 25  Type_de_cinema                           2163 non-null   object
 26  Nombre_fauteuils_de_cinema               2162 non-null   float64
 27  Nombre_ecrans                            2163 non-null   float64
 28  Nombre_de_salles_de_theatre              1103 non-null   float64
 29  Organisme_Siège_du_theatre               264 non-null    object
 30  Jauge_du_theatre                         1044 non-null   object
 31  Code_du_reseau_de_Bibliothèques          6941 non-null   object
 32  Nom_du_Réseau_de_Bibliothèques           6832 non-null   object
 33  Nom_de_l'Illustre                        245 non-null    object
 34  Surface_Bibliothèque                     406 non-null    object
 35  Rang                                     73791 non-null  int64
 36  Ident                                    73791 non-null  object
 37  Identifiant_deps_à_partir_de_2022        73791 non-null  object
 38  Libelle_EPCI                             73682 non-null  object
 39  Code_Insee_EPCI                          73681 non-null  float64
 40  Identifiant_deps_old                     69582 non-null  object
 41  Précision protection sites et monuments  284 non-null    object
 42  GCD                                      73713 non-null  object
 43  AAV                                      73713 non-null  object
 44  Annee_Label_Appellation                  2798 non-null   object
 45  Latitude                                 73759 non-null  object
 46  Longitude                                73756 non-null  object
 47  Demographie_AP                           73791 non-null  object
 48  Demographie_detail_entree                73372 non-null  object
 49  Démographie_detail_sortie                806 non-null    object
 50  Multi_equipements                        1063 non-null   object
 51  identifiant_QPV_24                       1857 non-null   object
 52  identifiant_QPV_15                       1656 non-null   object
 53  coordonnees_geo                          73756 non-null  object
dtypes: float64(6), int64(1), object(47)
memory usage: 30.4+ MB

In [6]:
df_culturels.columns

Index(['Source', 'Nom', 'Adresse', 'Complement Adresse', 'Code Postal',
       'libelle_geographique', 'code_insee', 'Code Insee Arrondt',
       'Identifiant origine', 'Type équipement ou lieu',
       'Label et appellation', 'Région', 'Domaine', 'Sous-domaine',
       'Archéologie détail', 'Adresse postale', 'Département',
       'Précision équipement', 'N_Département', 'N_Région', 'Fonction_1',
       'Fonction_2', 'Fonction_3', 'Fonction_4', 'Multiplexe',
       'Type_de_cinema', 'Nombre_fauteuils_de_cinema', 'Nombre_ecrans',
       'Nombre_de_salles_de_theatre', 'Organisme_Siège_du_theatre',
       'Jauge_du_theatre', 'Code_du_reseau_de_Bibliothèques',
       'Nom_du_Réseau_de_Bibliothèques', 'Nom_de_l'Illustre',
       'Surface_Bibliothèque', 'Rang', 'Ident',
       'Identifiant_deps_à_partir_de_2022', 'Libelle_EPCI', 'Code_Insee_EPCI',
       'Identifiant_deps_old', 'Précision protection sites et monuments',
       'GCD', 'AAV', 'Annee_Label_Appellation', 'Latitude', 'Longitude',
       'Demographie_AP', 'Demographie_detail_entree',
       'Démographie_detail_sortie', 'Multi_equipements', 'identifiant_QPV_24',
       'identifiant_QPV_15', 'coordonnees_geo'],
      dtype='object')

In [7]:
df_culturels.loc[df_culturels['code_insee']=='01004','Type équipement ou lieu']

1778                 Cinéma
4566               Monument
31588    Service d'archives
32295          Bibliothèque
34238              Monument
45007              Monument
Name: Type équipement ou lieu, dtype: object

In [8]:
#df_culturels.loc[~pd.isnull(df_culturels['Multi_equipements'])]

## Exploration de données

### code_insee vs code postale versus libeles géographique

In [9]:
nbr_code_insee = len(df_culturels['code_insee'].unique())
nbr_code_insee

22288

### types d'équipements

In [10]:
nbr_type_equipment = len(df_culturels['Type équipement ou lieu'].unique())
nbr_type_equipment

19

In [11]:
type_equipement = df_culturels['Type équipement ou lieu'].unique()
type_equipement

array(['Bibliothèque', "Centre d'art", 'Centre de création artistique',
       'Cinéma', "Service d'archives", 'Monument', 'Lieu archéologique',
       'Centre de création musicale', 'Théâtre', 'Conservatoire',
       "Établissement d'enseignement supérieur", 'Parc et jardin',
       'Librairie', 'Lieu de mémoire', 'Musée', 'Opéra',
       'Centre culturel', 'Scène', 'Espace protégé'], dtype=object)

In [12]:
len(type_equipement)

19

### paramètres utiles

In [13]:
param_utiles=['Nom','Adresse','Code Postal','code_insee','libelle_geographique','Nombre_de_salles_de_theatre','Type équipement ou lieu','Latitude','Longitude']
param_utiles

['Nom',
 'Adresse',
 'Code Postal',
 'code_insee',
 'libelle_geographique',
 'Nombre_de_salles_de_theatre',
 'Type équipement ou lieu',
 'Latitude',
 'Longitude']

In [14]:
df_culturels_extracted = df_culturels.loc[:,param_utiles]
df_culturels_extracted.head()

,Nom,Adresse,Code Postal,code_insee,libelle_geographique,Nombre_de_salles_de_theatre,Type équipement ou lieu,Latitude,Longitude
0,Médiathèque de COMMENSACQ,200 ROUTE DE TRENSACQ,40210.0,40085,Commensacq,NaN,Bibliothèque,44.2106959785251,-0.822884754184157
1,Bibliothèque MUNICIPALE de CREON-D'ARMAGNAC,"12, Rue Raoul Follereau",40240.0,40087,Créon-d'Armagnac,NaN,Bibliothèque,43.993868098598,-0.105588386166206
2,Bibliothèque de GELOUX,2 PLACE DE LA MAIRIE,40090.0,40111,Geloux,NaN,Bibliothèque,43.9810194468607,-0.638822931528512
3,Médiathèque CHALOSSE TURSAN HAGETMAU,4 PLACE GRAMONT,40700.0,40119,Hagetmau,NaN,Bibliothèque,43.6573228675739,-0.593452338732522
4,Médiathèque de HINX,100 ROUTE DE DAX,40180.0,40126,Hinx,NaN,Bibliothèque,43.701671909797,-0.927995381193468

In [15]:
# I- Regroupement par 'code_postal' et 'type equipement', puis comptage des éléments
df_nbre_typequip_parcommune = df_culturels_extracted.groupby(['code_insee', 'Type équipement ou lieu']).size().reset_index(name='count')
df_nbre_typequip_parcommune

      code_insee Type équipement ou lieu  count
0          01001                Monument      1
1          01004            Bibliothèque      1
2          01004                  Cinéma      1
3          01004                Monument      3
4          01004      Service d'archives      1
...          ...                     ...    ...
38403      98829            Bibliothèque      1
38404      98831            Bibliothèque      1
38405      98832            Bibliothèque      1
38406      99999         Lieu de mémoire      5
38407      99999                   Musée      1

[38408 rows x 3 columns]

In [16]:
# II-Extraction de df avec le nbre de théatre par commune
df_nbre_theatre_par_commune = (df_culturels.loc[df_culturels['Type équipement ou lieu']=='Théâtre',['code_insee','Type équipement ou lieu','Nombre_de_salles_de_theatre']])
# calcul du nombre de theatre par commune
grouped2 = df_nbre_theatre_par_commune.groupby(['code_insee'])['Nombre_de_salles_de_theatre'].sum()
grouped2

code_insee
01033    1.0
01043    2.0
02001    1.0
02003    3.0
02037    2.0
        ...
97209    1.0
97411    2.0
97415    2.0
97422    1.0
98818    4.0
Name: Nombre_de_salles_de_theatre, Length: 533, dtype: float64

In [17]:
df_nbre_theatre_par_commune

      code_insee Type équipement ou lieu  Nombre_de_salles_de_theatre
4184       02003                 Théâtre                          1.0
4185       13055                 Théâtre                          1.0
4186       31149                 Théâtre                          1.0
4187       33039                 Théâtre                          1.0
4188       33063                 Théâtre                          1.0
...          ...                     ...                          ...
69791      83061                 Théâtre                          2.0
69792      02738                 Théâtre                          1.0
69793      69123                 Théâtre                          1.0
69794      89206                 Théâtre                          1.0
69795      94038                 Théâtre                          1.0

[850 rows x 3 columns]

In [18]:
# III- creation d'une series avec le nombre de salle de theatre (index=code commune, valeurs=nbre de salles de theatres)
for i,id in enumerate(grouped2.index):    
    
    filtered_df = df_nbre_theatre_par_commune[(df_nbre_theatre_par_commune['code_insee'] == id) & (df_nbre_theatre_par_commune['Type équipement ou lieu'] == 'Théâtre')]

    s1 = filtered_df.groupby(['code_insee'])['Nombre_de_salles_de_theatre'].sum()
    if i==0:
        result_horizontal=s1
    else:
        result_horizontal = pd.concat([result_horizontal, s1], axis=0)

# V- mettre a jour le nbre de salles de theatre dans df_nbre_typequip_parcommune
for id in result_horizontal.index:
    #filtered_df = df_nbre_typequip_parcommune[(df_nbre_typequip_parcommune['code_insee'] == id) & (df_nbre_typequip_parcommune['Type équipement ou lieu'] == 'Théâtre')]
    mask=(df_nbre_typequip_parcommune['code_insee'] == id) & (df_nbre_typequip_parcommune['Type équipement ou lieu'] == 'Théâtre')
 
    df_nbre_typequip_parcommune.loc[mask,'count']=result_horizontal[id]

In [19]:
result_horizontal

code_insee
01033    1.0
01043    2.0
02001    1.0
02003    3.0
02037    2.0
        ...
97209    1.0
97411    2.0
97415    2.0
97422    1.0
98818    4.0
Name: Nombre_de_salles_de_theatre, Length: 533, dtype: float64

In [20]:
df_nbre_typequip_parcommune

      code_insee Type équipement ou lieu  count
0          01001                Monument      1
1          01004            Bibliothèque      1
2          01004                  Cinéma      1
3          01004                Monument      3
4          01004      Service d'archives      1
...          ...                     ...    ...
38403      98829            Bibliothèque      1
38404      98831            Bibliothèque      1
38405      98832            Bibliothèque      1
38406      99999         Lieu de mémoire      5
38407      99999                   Musée      1

[38408 rows x 3 columns]

#### rajout d'une colonne catégorie

In [21]:
# Appliquer la fonction à la colonne 'monument'
df_nbre_typequip_parcommune['categorie'] = df_nbre_typequip_parcommune['Type équipement ou lieu'].apply(assign_categorie)
df_nbre_typequip_parcommune

      code_insee Type équipement ou lieu  count   categorie
0          01001                Monument      1  patrimoine
1          01004            Bibliothèque      1      vivant
2          01004                  Cinéma      1      vivant
3          01004                Monument      3  patrimoine
4          01004      Service d'archives      1  patrimoine
...          ...                     ...    ...         ...
38403      98829            Bibliothèque      1      vivant
38404      98831            Bibliothèque      1      vivant
38405      98832            Bibliothèque      1      vivant
38406      99999         Lieu de mémoire      5  patrimoine
38407      99999                   Musée      1      vivant

[38408 rows x 4 columns]

In [22]:
# Regroupement par 'code_postal' et 'categorie', puis comptage des éléments
df_nbre_typequip_parcommune.groupby(['code_insee', 'Type équipement ou lieu','count','categorie']).size().reset_index(name='2')

      code_insee Type équipement ou lieu  count   categorie  2
0          01001                Monument      1  patrimoine  1
1          01004            Bibliothèque      1      vivant  1
2          01004                  Cinéma      1      vivant  1
3          01004                Monument      3  patrimoine  1
4          01004      Service d'archives      1  patrimoine  1
...          ...                     ...    ...         ... ..
38403      98829            Bibliothèque      1      vivant  1
38404      98831            Bibliothèque      1      vivant  1
38405      98832            Bibliothèque      1      vivant  1
38406      99999         Lieu de mémoire      5  patrimoine  1
38407      99999                   Musée      1      vivant  1

[38408 rows x 5 columns]

In [23]:
df_categorie = df_nbre_typequip_parcommune.groupby(['code_insee'])['categorie'].sum()
df_categorie

code_insee
01001                          patrimoine
01004    vivantvivantpatrimoinepatrimoine
01005                    vivantpatrimoine
01007              vivantvivantpatrimoine
01008                              vivant
                       ...
98824                              vivant
98829                              vivant
98831                              vivant
98832                              vivant
99999                    patrimoinevivant
Name: categorie, Length: 22288, dtype: object

In [24]:
df_nbre_typequip_parcommune

      code_insee Type équipement ou lieu  count   categorie
0          01001                Monument      1  patrimoine
1          01004            Bibliothèque      1      vivant
2          01004                  Cinéma      1      vivant
3          01004                Monument      3  patrimoine
4          01004      Service d'archives      1  patrimoine
...          ...                     ...    ...         ...
38403      98829            Bibliothèque      1      vivant
38404      98831            Bibliothèque      1      vivant
38405      98832            Bibliothèque      1      vivant
38406      99999         Lieu de mémoire      5  patrimoine
38407      99999                   Musée      1      vivant

[38408 rows x 4 columns]

In [25]:
df_nbre_typequip_parcommune.to_csv(path_data+'nbre_equipement_parcommuneetcodepostal.csv', sep='\t', index=False)

## Add latitude, longitude

In [26]:
path_data='./data/'
name_file_info_commune = '20230823-communes-departement-region.csv'

In [27]:
# Altitude, longitude
df_info=pd.read_csv(path_data+name_file_info_commune , sep=',', on_bad_lines='skip' ,encoding='utf-8',low_memory=False)
df_info.head()

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.153426,4.926114,1.0,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.0,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.009188,5.428017,2.0,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.0,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.0,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.0,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,Ambléon,Ambléon,1,Ain,84.0,Auvergne-Rhône-Alpes

In [28]:
np.shape(df_info)

(39201, 15)

In [29]:
np.shape(df_nbre_typequip_parcommune)

(38408, 4)

In [30]:
df_info2=df_info.copy(deep=True)
df_info2

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.153426,4.926114,1.0,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.0,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.009188,5.428017,2.0,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.0,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.0,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.0,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,Ambléon,Ambléon,1,Ain,84.0,Auvergne-Rhône-Alpes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39196,98831,VOH,98883,OUACO,VOH,NaN,NaN,831.0,NaN,Voh,Voh,98,NaN,NaN,NaN
39197,98832,YATE,98834,YATE,NaN,NaN,NaN,832.0,NaN,Yate,Yate,98,NaN,NaN,NaN
39198,98833,KOUAOUA,98818,KOUAOUA,NaN,NaN,NaN,833.0,NaN,Kouaoua,Kouaoua,98,NaN,NaN,NaN
39199,98901,ILE DE CLIPPERTON,98799,ILE DE CLIPPERTON,NaN,NaN,NaN,901.0,NaN,Ile de clipperton,Ile de clipperton,98,NaN,NaN,NaN
39200,99138,MONACO,98000,MONACO,NaN,NaN,NaN,138.0,NaN,Monaco,Monaco,99,NaN,NaN,NaN

In [31]:
df_info2 = df_info2.loc[:,['code_commune_INSEE','latitude','longitude']]
df_info2

      code_commune_INSEE   latitude  longitude
0                   1001  46.153426   4.926114
1                   1002  46.009188   5.428017
2                   1004  45.960848   5.372926
3                   1005  45.996180   4.912273
4                   1006  45.749499   5.594320
...                  ...        ...        ...
39196              98831        NaN        NaN
39197              98832        NaN        NaN
39198              98833        NaN        NaN
39199              98901        NaN        NaN
39200              99138        NaN        NaN

[39201 rows x 3 columns]

In [32]:
# Fusionner les deux DataFrames sur les colonnes code1 et code2
df_merged = pd.merge(df_info2, df_nbre_typequip_parcommune, left_on='code_commune_INSEE', right_on='code_insee', how='right')
df_merged
# how='right' : Garde toutes les lignes de df2, même si elles n'ont pas de correspondance dans df_nbre_typequip_parcommune.

,code_commune_INSEE,latitude,longitude,code_insee,Type équipement ou lieu,count,categorie
0,NaN,NaN,NaN,01001,Monument,1,patrimoine
1,NaN,NaN,NaN,01004,Bibliothèque,1,vivant
2,NaN,NaN,NaN,01004,Cinéma,1,vivant
3,NaN,NaN,NaN,01004,Monument,3,patrimoine
4,NaN,NaN,NaN,01004,Service d'archives,1,patrimoine
...,...,...,...,...,...,...,...
45811,98831,NaN,NaN,98831,Bibliothèque,1,vivant
45812,98831,NaN,NaN,98831,Bibliothèque,1,vivant
45813,98832,NaN,NaN,98832,Bibliothèque,1,vivant
45814,NaN,NaN,NaN,99999,Lieu de mémoire,5,patrimoine
45815,NaN,NaN,NaN,99999,Musée,1,vivant

In [33]:
df_merged = df_merged.drop_duplicates(subset=df_merged.columns,keep='first')
df_merged

,code_commune_INSEE,latitude,longitude,code_insee,Type équipement ou lieu,count,categorie
0,NaN,NaN,NaN,01001,Monument,1,patrimoine
1,NaN,NaN,NaN,01004,Bibliothèque,1,vivant
2,NaN,NaN,NaN,01004,Cinéma,1,vivant
3,NaN,NaN,NaN,01004,Monument,3,patrimoine
4,NaN,NaN,NaN,01004,Service d'archives,1,patrimoine
...,...,...,...,...,...,...,...
45810,98829,NaN,NaN,98829,Bibliothèque,1,vivant
45811,98831,NaN,NaN,98831,Bibliothèque,1,vivant
45813,98832,NaN,NaN,98832,Bibliothèque,1,vivant
45814,NaN,NaN,NaN,99999,Lieu de mémoire,5,patrimoine
45815,NaN,NaN,NaN,99999,Musée,1,vivant

In [34]:
# supprimer la colonne commune
df_merged = df_merged.drop(columns=['code_commune_INSEE'])
df_merged

,latitude,longitude,code_insee,Type équipement ou lieu,count,categorie
0,NaN,NaN,01001,Monument,1,patrimoine
1,NaN,NaN,01004,Bibliothèque,1,vivant
2,NaN,NaN,01004,Cinéma,1,vivant
3,NaN,NaN,01004,Monument,3,patrimoine
4,NaN,NaN,01004,Service d'archives,1,patrimoine
...,...,...,...,...,...,...
45810,NaN,NaN,98829,Bibliothèque,1,vivant
45811,NaN,NaN,98831,Bibliothèque,1,vivant
45813,NaN,NaN,98832,Bibliothèque,1,vivant
45814,NaN,NaN,99999,Lieu de mémoire,5,patrimoine
45815,NaN,NaN,99999,Musée,1,vivant

## Add population

In [35]:
path_data='./data/'
name_file_population_commune = 'donnees_communes.csv'

In [36]:
# Altitude, longitude
df_pop=pd.read_csv(path_data+name_file_population_commune , sep=';', on_bad_lines='skip' ,encoding='utf-8',low_memory=False)
df_pop

,REG,Région,DEP,CODARR,CODCAN,CODCOM,COM,Commune,PMUN,PCAP,PTOT
0,84,Auvergne-Rhône-Alpes,01,2,08,1,01001,L'Abergement-Clémenciat,832,16,848
1,84,Auvergne-Rhône-Alpes,01,1,01,2,01002,L'Abergement-de-Varey,267,6,273
2,84,Auvergne-Rhône-Alpes,01,1,01,4,01004,Ambérieu-en-Bugey,14854,386,15240
3,84,Auvergne-Rhône-Alpes,01,2,22,5,01005,Ambérieux-en-Dombes,1897,24,1921
4,84,Auvergne-Rhône-Alpes,01,1,04,6,01006,Ambléon,113,0,113
...,...,...,...,...,...,...,...,...,...,...,...
34965,4,La Réunion,974,1,04,420,97420,Sainte-Suzanne,24293,245,24538
34966,4,La Réunion,974,3,06,421,97421,Salazie,7243,76,7319
34967,4,La Réunion,974,2,99,422,97422,Le Tampon,81943,925,82868
34968,4,La Réunion,974,4,14,423,97423,Les Trois-Bassins,6899,90,6989
34969,4,La Réunion,974,2,16,424,97424,Cilaos,5390,47,5437

In [37]:
df_pop2 = df_pop.copy(deep=True)
df_pop2 = df_pop2.loc[:,['Commune','COM','PTOT','REG','DEP','Région']]

df_pop2.head()

                   Commune    COM   PTOT  REG DEP                Région
0  L'Abergement-Clémenciat  01001    848   84  01  Auvergne-Rhône-Alpes
1    L'Abergement-de-Varey  01002    273   84  01  Auvergne-Rhône-Alpes
2        Ambérieu-en-Bugey  01004  15240   84  01  Auvergne-Rhône-Alpes
3      Ambérieux-en-Dombes  01005   1921   84  01  Auvergne-Rhône-Alpes
4                  Ambléon  01006    113   84  01  Auvergne-Rhône-Alpes

In [38]:
# Fusionner les deux DataFrames sur les colonnes code1 et code2
df_merged_all = pd.merge(df_pop2, df_merged, left_on='COM', right_on='code_insee', how='right')
df_merged_all

,Commune,COM,PTOT,REG,DEP,Région,latitude,longitude,code_insee,Type équipement ou lieu,count,categorie
0,L'Abergement-Clémenciat,01001,848.0,84.0,01,Auvergne-Rhône-Alpes,NaN,NaN,01001,Monument,1,patrimoine
1,Ambérieu-en-Bugey,01004,15240.0,84.0,01,Auvergne-Rhône-Alpes,NaN,NaN,01004,Bibliothèque,1,vivant
2,Ambérieu-en-Bugey,01004,15240.0,84.0,01,Auvergne-Rhône-Alpes,NaN,NaN,01004,Cinéma,1,vivant
3,Ambérieu-en-Bugey,01004,15240.0,84.0,01,Auvergne-Rhône-Alpes,NaN,NaN,01004,Monument,3,patrimoine
4,Ambérieu-en-Bugey,01004,15240.0,84.0,01,Auvergne-Rhône-Alpes,NaN,NaN,01004,Service d'archives,1,patrimoine
...,...,...,...,...,...,...,...,...,...,...,...,...
38403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98829,Bibliothèque,1,vivant
38404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98831,Bibliothèque,1,vivant
38405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98832,Bibliothèque,1,vivant
38406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99999,Lieu de mémoire,5,patrimoine
38407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99999,Musée,1,vivant

In [39]:
# supprimer la colonne commune
df_merged_all = df_merged_all.drop(columns=['COM'])
df_merged_all

,Commune,PTOT,REG,DEP,Région,latitude,longitude,code_insee,Type équipement ou lieu,count,categorie
0,L'Abergement-Clémenciat,848.0,84.0,01,Auvergne-Rhône-Alpes,NaN,NaN,01001,Monument,1,patrimoine
1,Ambérieu-en-Bugey,15240.0,84.0,01,Auvergne-Rhône-Alpes,NaN,NaN,01004,Bibliothèque,1,vivant
2,Ambérieu-en-Bugey,15240.0,84.0,01,Auvergne-Rhône-Alpes,NaN,NaN,01004,Cinéma,1,vivant
3,Ambérieu-en-Bugey,15240.0,84.0,01,Auvergne-Rhône-Alpes,NaN,NaN,01004,Monument,3,patrimoine
4,Ambérieu-en-Bugey,15240.0,84.0,01,Auvergne-Rhône-Alpes,NaN,NaN,01004,Service d'archives,1,patrimoine
...,...,...,...,...,...,...,...,...,...,...,...
38403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98829,Bibliothèque,1,vivant
38404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98831,Bibliothèque,1,vivant
38405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98832,Bibliothèque,1,vivant
38406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99999,Lieu de mémoire,5,patrimoine
38407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99999,Musée,1,vivant

In [40]:
df_merged_all.to_csv(path_data+'nbre_equipement_parcommuneetcodepostal_ET_LatitudeLongitude_ET_POPULATION.csv', sep='\t', index=False)