## Libraries

In [33]:
import pandas as pd

## Paths

In [34]:
path_data='./src/data_basilics/'
name_file_lieux_equipements_culturels = 'base-des-lieux-et-des-equipements-culturels.csv'
name_file_cinema = 'data_cinema/exploitation - liste des établissements actifs -.xlsx'

## Load data

In [35]:
# culturels
df_culturels=pd.read_csv(path_data+name_file_lieux_equipements_culturels, sep=';', on_bad_lines='skip' ,encoding='utf-8',low_memory=False)
df_culturels.head()

,Source,Nom,Adresse,Complement Adresse,Code Postal,libelle_geographique,code_insee,Code Insee Arrondt,Identifiant origine,Type équipement ou lieu,...,Annee_Label_Appellation,Latitude,Longitude,Demographie_AP,Demographie_detail_entree,Démographie_detail_sortie,Multi_equipements,identifiant_QPV_24,identifiant_QPV_15,coordonnees_geo
0,Ministère de la Culture - Service du livre et ...,Médiathèque de COMMENSACQ,200 ROUTE DE TRENSACQ,NaN,40210.0,Commensacq,40085,402,LI14040,Bibliothèque,...,NaN,44.2106959785251,-0.822884754184157,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"44.2106959785251, -0.822884754184157"
1,Ministère de la Culture - Service du livre et ...,Bibliothèque MUNICIPALE de CREON-D'ARMAGNAC,"12, Rue Raoul Follereau",NaN,40240.0,Créon-d'Armagnac,40087,402,LI7880,Bibliothèque,...,NaN,43.993868098598,-0.105588386166206,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.993868098598, -0.105588386166206"
2,Ministère de la Culture - Service du livre et ...,Bibliothèque de GELOUX,2 PLACE DE LA MAIRIE,NaN,40090.0,Geloux,40111,402,LI7888,Bibliothèque,...,NaN,43.9810194468607,-0.638822931528512,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.9810194468607, -0.638822931528512"
3,Ministère de la Culture - Service du livre et ...,Médiathèque CHALOSSE TURSAN HAGETMAU,4 PLACE GRAMONT,NaN,40700.0,Hagetmau,40119,402,LI1734,Bibliothèque,...,NaN,43.6573228675739,-0.593452338732522,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.6573228675739, -0.593452338732522"
4,Ministère de la Culture - Service du livre et ...,Médiathèque de HINX,100 ROUTE DE DAX,NaN,40180.0,Hinx,40126,401,LI7894,Bibliothèque,...,NaN,43.701671909797,-0.927995381193468,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.701671909797, -0.927995381193468"

In [36]:
df_culturels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73791 entries, 0 to 73790
Data columns (total 54 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Source                                   73760 non-null  object
 1   Nom                                      73791 non-null  object
 2   Adresse                                  43422 non-null  object
 3   Complement Adresse                       335 non-null    object
 4   Code Postal                              72851 non-null  float64
 5   libelle_geographique                     73774 non-null  object
 6   code_insee                               73791 non-null  object
 7   Code Insee Arrondt                       73684 non-null  object
 8   Identifiant origine                      67814 non-null  object
 9   Type équipement ou lieu                  73791 non-null  object
 10  Label et appellation                     53952 non-null  object
 11  Région                                   73791 non-null  object
 12  Domaine                                  73791 non-null  object
 13  Sous-domaine                             51628 non-null  object
 14  Archéologie détail                       562 non-null    object
 15  Adresse postale                          72759 non-null  object
 16  Département                              73791 non-null  object
 17  Précision équipement                     66735 non-null  object
 18  N_Département                            73791 non-null  object
 19  N_Région                                 73784 non-null  float64
 20  Fonction_1                               73784 non-null  object
 21  Fonction_2                               20192 non-null  object
 22  Fonction_3                               22 non-null     object
 23  Fonction_4                               22 non-null     object
 24  Multiplexe                               2139 non-null   object
 25  Type_de_cinema                           2163 non-null   object
 26  Nombre_fauteuils_de_cinema               2162 non-null   float64
 27  Nombre_ecrans                            2163 non-null   float64
 28  Nombre_de_salles_de_theatre              1103 non-null   float64
 29  Organisme_Siège_du_theatre               264 non-null    object
 30  Jauge_du_theatre                         1044 non-null   object
 31  Code_du_reseau_de_Bibliothèques          6941 non-null   object
 32  Nom_du_Réseau_de_Bibliothèques           6832 non-null   object
 33  Nom_de_l'Illustre                        245 non-null    object
 34  Surface_Bibliothèque                     406 non-null    object
 35  Rang                                     73791 non-null  int64
 36  Ident                                    73791 non-null  object
 37  Identifiant_deps_à_partir_de_2022        73791 non-null  object
 38  Libelle_EPCI                             73682 non-null  object
 39  Code_Insee_EPCI                          73681 non-null  float64
 40  Identifiant_deps_old                     69582 non-null  object
 41  Précision protection sites et monuments  284 non-null    object
 42  GCD                                      73713 non-null  object
 43  AAV                                      73713 non-null  object
 44  Annee_Label_Appellation                  2798 non-null   object
 45  Latitude                                 73759 non-null  object
 46  Longitude                                73756 non-null  object
 47  Demographie_AP                           73791 non-null  object
 48  Demographie_detail_entree                73372 non-null  object
 49  Démographie_detail_sortie                806 non-null    object
 50  Multi_equipements                        1063 non-null   object
 51  identifiant_QPV_24                       1857 non-null   object
 52  identifiant_QPV_15                       1656 non-null   object
 53  coordonnees_geo                          73756 non-null  object
dtypes: float64(6), int64(1), object(47)
memory usage: 30.4+ MB

In [37]:
df_culturels.columns

Index(['Source', 'Nom', 'Adresse', 'Complement Adresse', 'Code Postal',
       'libelle_geographique', 'code_insee', 'Code Insee Arrondt',
       'Identifiant origine', 'Type équipement ou lieu',
       'Label et appellation', 'Région', 'Domaine', 'Sous-domaine',
       'Archéologie détail', 'Adresse postale', 'Département',
       'Précision équipement', 'N_Département', 'N_Région', 'Fonction_1',
       'Fonction_2', 'Fonction_3', 'Fonction_4', 'Multiplexe',
       'Type_de_cinema', 'Nombre_fauteuils_de_cinema', 'Nombre_ecrans',
       'Nombre_de_salles_de_theatre', 'Organisme_Siège_du_theatre',
       'Jauge_du_theatre', 'Code_du_reseau_de_Bibliothèques',
       'Nom_du_Réseau_de_Bibliothèques', 'Nom_de_l'Illustre',
       'Surface_Bibliothèque', 'Rang', 'Ident',
       'Identifiant_deps_à_partir_de_2022', 'Libelle_EPCI', 'Code_Insee_EPCI',
       'Identifiant_deps_old', 'Précision protection sites et monuments',
       'GCD', 'AAV', 'Annee_Label_Appellation', 'Latitude', 'Longitude',
       'Demographie_AP', 'Demographie_detail_entree',
       'Démographie_detail_sortie', 'Multi_equipements', 'identifiant_QPV_24',
       'identifiant_QPV_15', 'coordonnees_geo'],
      dtype='object')

## Exploration de données

### code_insee vs code postale versus libeles géographique

In [38]:
nbr_libelles_geographiques = len(df_culturels['libelle_geographique'].unique())
nbr_libelles_geographiques

21278

In [39]:
df_culturels['libelle_geographique'].unique()

array(['Commensacq', "Créon-d'Armagnac", 'Geloux', ..., 'Canala',
       'Koumac', 'Pouébo'], dtype=object)

In [40]:
nbr_code_postal = len(df_culturels['Code Postal'].unique())
nbr_code_postal

6037

In [41]:
df_culturels['code_insee'].unique()

array(['40085', '40087', '40111', ..., '98804', '98812', '98824'],
      dtype=object)

In [42]:
nbr_code_insee = len(df_culturels['code_insee'].unique())
nbr_code_insee

22288

In [43]:
nbr_code_insee_EPCI = len(df_culturels['Code_Insee_EPCI'].unique())
nbr_code_insee_EPCI

1256

In [44]:
nbr_code_insee_Arrondt = len(df_culturels['Code Insee Arrondt'].unique())
nbr_code_insee_Arrondt

334

In [45]:
df_culturels['Code Insee Arrondt'].unique()

array(['402', '401', '413', '411', '412', '9731', '422', '421', '423',
       '593', '432', '433', '431', '445', '443', '442', '596', '451',
       '453', '452', '594', '461', '462', '463', '471', '474', '473',
       '472', '595', '482', '481', '591', '491', '493', '492', '494',
       '501', '502', '504', '503', '512', '511', '513', '514', '523',
       '521', '522', '531', '533', '532', '544', '543', '541', '542',
       '601', '604', '553', '551', '552', '563', '561', '562', '579',
       '573', '575', '577', '621', '576', '627', '584', '583', '582',
       '581', '592', '623', '622', '912', '602', '603', '922', '613',
       '612', '611', '625', '626', '772', '624', '773', '775', '634',
       '635', '633', '632', '631', '643', '931', '641', '642', '651',
       '652', '653', '663', '662', '661', '674', '673', '675', '678',
       '672', '684', '682', '686', '692', '691', '701', '702', '712',
       '711', '714', '713', '715', '723', '933', '722', '721', '732',
       '731', '932', '733', '741', '744', '742', '743', '751', '763',
       '761', '762', '943', '942', '952', '771', '951', '774', '953',
       '781', '783', '782', '784', '791', '792', '793', '9744', '801',
       '804', '9742', '802', '803', '812', '811', '822', '821', '831',
       '832', '833', '843', '9721', nan, '842', '841', '853', '852',
       '851', '863', '862', '142', '861', '273', '872', '871', '882',
       '883', '881', '891', '893', '892', '901', '911', '913', '923',
       '921', '173', '332', '122', '941', '313', '343', '9712', '9711',
       '9723', '9722', '9733', '9743', '9741', '061', '103', '291', '353',
       '212', '302', '381', '062', '144', '011', '012', '013', '014',
       '023', '025', '032', '031', '041', '044', '052', '051', '073',
       '071', '072', '083', '091', '093', '111', '113', '123', '132',
       '133', '134', '131', '143', '141', '152', '162', '163', '171',
       '175', '172', '183', '181', '193', '213', '222', '224', '231',
       '232', '243', '244', '251', '252', '253', '262', '263', '271',
       '272', '283', '294', '292', '293', '2A1', '2A4', '2B2', '311',
       '312', '321', '323', '333', '331', '334', '336', '342', '341',
       '354', '352', '351', '362', '373', '371', '372', '383', '382',
       '024', '043', '081', '121', '211', '282', '281', '301', '322',
       '364', '391', '284', '2B3', '361', '392', '9724', '022', '112',
       '153', '161', '174', '182', '242', '241', '261', '681', '021',
       '033', '042', '084', '082', '092', '101', '102', '151', '191',
       '192', '221', '223', '303', '335', '363', '393', '2B5', '873',
       '9732'], dtype=object)

### types d'équipements

In [46]:
nbr_type_equipment = len(df_culturels['Type équipement ou lieu'].unique())
nbr_type_equipment

19

In [47]:
type_equipement = df_culturels['Type équipement ou lieu'].unique()
type_equipement

array(['Bibliothèque', "Centre d'art", 'Centre de création artistique',
       'Cinéma', "Service d'archives", 'Monument', 'Lieu archéologique',
       'Centre de création musicale', 'Théâtre', 'Conservatoire',
       "Établissement d'enseignement supérieur", 'Parc et jardin',
       'Librairie', 'Lieu de mémoire', 'Musée', 'Opéra',
       'Centre culturel', 'Scène', 'Espace protégé'], dtype=object)

In [48]:
df_culturels['Type_de_cinema'].unique()

array([nan, 'Fixe', 'Itinérant', 'FIXE'], dtype=object)

In [49]:
df_culturels['Nombre_fauteuils_de_cinema'].unique()

array([  nan,  595., 1938.,  131.,  479.,  110.,  142.,  160.,  436.,
        124.,  600.,  208.,  641.,  112.,  225.,  270.,  388.,  185.,
        244.,  195., 1728.,  176.,   80.,  177.,  377., 1108.,  149.,
        251.,  250.,  120.,  281.,  525.,  905.,  350.,  165.,  285.,
        200.,  450.,  336., 1830.,  451.,  199., 1258.,  164.,  239.,
        231.,  579.,  135.,  392.,  295., 3507.,  155.,  380.,  190.,
        472.,  220.,  806.,  477.,  308.,  111.,  536., 2452.,  178.,
        962.,  354.,  154., 1024.,  174.,  210.,  163.,  358.,  197.,
        167.,   50.,  148.,  227.,  104.,  695.,  141., 1802.,  228.,
       1330.,  212.,  627., 2343.,  407.,  268., 1544.,  516.,  892.,
        215.,  194.,  801.,  364.,   97.,  237.,  331.,  300.,  432.,
        400.,  299.,  188.,  206., 1041.,  835.,   88.,  181.,  374.,
        408.,  553.,  196.,  248.,  544.,  480.,  767.,  150.,  287.,
       1375., 3167.,  230.,  166., 2458.,  144., 1067.,  481., 1961.,
        183.,  249.,  499.,  264.,  373.,  495.,  934.,  157.,  203.,
        328.,  503.,  140., 1898., 2010.,  222.,  161.,   25., 1437.,
        528.,  444.,  607.,  309.,  288.,  290.,  683.,  283., 1277.,
        182., 1151.,  252.,  218.,  748.,  247.,  274.,  327.,  881.,
        129.,  425.,  187.,  284.,  344., 1595.,   90.,  236.,  811.,
       1460.,  122., 1025.,  340.,  272.,  153., 2609., 1122.,  245.,
        310., 1062.,  123.,  617.,   98.,  246.,  866.,  180.,  321.,
        234.,  318., 1979.,  972.,  145.,  369.,  192.,  520.,  100.,
        749., 3450.,  514.,  566.,  944.,  497.,  498.,  362., 3391.,
        198., 1546.,  476.,  341., 1096.,  193., 1575.,  238.,  487.,
        326.,  260., 2082., 2755.,  226., 5407.,  304.,  224.,  240.,
        189.,  271.,  269.,  280.,  357.,   46.,  898., 1281., 2528.,
        168.,  352.,  370.,  417., 1637.,  233.,  409.,  175.,  426.,
         99.,  263.,  265.,  334.,  448., 2648.,  256.,  315.,   92.,
        412., 3896., 1138.,  119.,  609.,  356., 1273., 1169., 2876.,
        363.,  386.,  319., 3021.,  332.,  216.,  492., 1129.,  349.,
         48.,  292.,  360.,  813.,  511., 1209.,  338., 1533.,  585.,
        202.,  737.,   96.,  172.,  139.,  456.,  162.,  266.,  126.,
       1501., 2465.,  686.,  403., 1029.,  313., 1340.,  797.,  324.,
        545.,  314.,  291.,  706.,  551.,  214.,  665.,  646.,  549.,
        279., 2590.,  443.,  457.,  398.,  158.,  406.,  886., 3679.,
        353., 2788.,  307.,  282.,  345.,  562.,  346., 1861., 1817.,
        838.,  296.,  507.,  763.,  731.,  463.,  121., 1105.,  541.,
        527.,  976.,  289.,  900.,  530.,  769.,  894., 1073.,  882.,
       2394.,  500.,  452.,  594.,  298.,  117., 1927.,  982.,  217.,
        662.,  727.,  469.,  259.,  979., 1537.,  703.,  159.,  316.,
        698., 2352.,  460., 1539.,  329., 2446., 1358., 2083.,  179.,
        213.,  294.,  114.,  133., 1310., 1076.,  630.,  173.,  286.,
       2376.,  828.,  186.,  151.,  429.,  552., 1069.,  434.,  207.,
       2440.,  470.,  610., 1147.,  128.,  464., 1604.,  201.,  221.,
       1161.,  130.,  441.,   79.,  273.,  191., 2783., 1900.,  993.,
        515., 2403.,  107.,  375., 1480., 1042., 2800.,  209., 1244.,
       2574.,  524.,  312.,  184.,  330.,  106.,  419.,  103.,  390.,
        258.,  837.,  204.,  348.,  621., 1875.,   95.,  254., 2487.,
       1601., 1070.,  465., 1844., 3048., 2160., 4058.,  301.,  720.,
        605.,  560.,  540.,  580., 2705.,  454., 1744.,  137.,  638.,
       1314., 2466.,  322., 1199.,  146., 1464., 2371.,  229.,  383.,
        501.,  241., 4533.,  670., 3457.,  490.,  152., 1134.,  147.,
        127.,   94.,  655.,  870., 1611.,  584., 1554.,  339., 1597.,
        591., 1962., 1142., 1319.,  957.,  710.,  861.,  645.,  568.,
       3790.,  132., 3612.,  742., 2682.,  267.,  275.,   84.,  253.,
       1305., 3271.,  379.,  612.,  255., 1293.,  719.,  118.,  113.,
        728.,  496.,  491.,  376.,  660.,   83., 2470., 1513., 2380.,
       1606.,  518.,  739., 1948., 2281.,  576., 1118.,  640.,   89.,
        276.,  847., 1366.,  337.,  431., 2092.,  306.,  565., 2436.,
        768.,  777., 1009.,  169., 1876.,  873.,  401., 1280.,  587.,
       1059., 2187.,  964.,  613.,  502.,  589.,  836.,  394.,  235.,
        785.,  678., 2928., 3647., 1020.,  323.,  519., 1367., 1301.,
       3919.,  991.,  293., 2475., 1065., 1230.,  872.,  242.,  365.,
        420., 1037.,  415., 2148.,  488.,  277.,  804., 2985., 1986.,
        143., 1499., 1051.,  205.,  513.,  402., 1469.,  170., 1344.,
        393.,  447., 2173., 2568., 2844.,  243., 1590., 1133., 3710.,
       2108.,  548.,  534.,  930.,  211., 2401.,  647., 2474., 1052.,
       1650.,  691.,  740.,  473.,  395.,   91.,  219., 1126.,  261.,
         73.,  467.,  736.,  510.,  722.,  423., 4480.,  842., 1263.,
        992., 1140.,  578., 2412.,  657.,  690.,  105., 1080., 2053.,
        973.,  573.,  108.,   54., 1288., 2604.,   93., 2236.,  442.,
        320.,  780.,  134., 2252.,  385.,   74., 2973.,  829., 1492.,
       1538., 3645.,  688.,  689., 3728.,  789., 1799., 3344.,  410.,
        781.,  223.,  680.,  824.,  771., 3105.,   18.,   82., 1380.,
         62.,  317.,  676., 1021.,  794.,  853., 2835.,  598., 2737.,
        305.,  679.,  347., 1162.,  542., 1095.,  416.,  775.,  116.,
        102., 3155.,  171.,  333., 1745.,  136., 2830.,  311.,  156.,
        615., 1188., 1839.,  475., 4274., 1490., 1666., 2169.,  556.,
        554., 1384.,  397., 2583., 2901., 2790.,  699., 3828.,  278.,
       2539., 2181., 1603.,  459., 2021.,  709.,  730.,  807.,  766.,
       2014.,  946., 1600., 1593., 1508.,  368., 2052., 1894.,  418.,
       1491.,  466.,  644., 1139.,  405., 3830.,  815.,  616., 1222.,
       6706., 2099.,  632.,  387.,  633., 1515., 1248., 1012.,  453.,
       2816.,  372., 2062.,  439.,  920.,  438.,  483.,  721.,  435.,
        458., 1870.,  262., 2272., 1256., 2510., 1191., 1504.,   66.,
        821.,  437., 1150.,  232., 2020.,  757.,  697., 1987.,  619.,
       1309.,  571.,  378.,  537.,  396., 1079., 1072.,  505., 1078.,
        849., 2984.,  389.,  995.,  445., 1347., 1327.,   64.,  384.,
         87., 1850., 1792., 2309.,  517., 2522., 2644.,  422.,  774.,
       1398., 1816., 2000., 7358.,  643., 2404., 2479., 2218., 1148.,
         75., 1968., 2560.,  626., 2041.,  367.,  411.,  529., 2366.,
        854., 3669.,  590., 2104., 2387., 2086., 1811., 2141.,  508.,
       1393.,  557., 2952.,  478., 1757., 1394.,   86., 1246., 3923.,
        570., 2891.,  257., 2199., 3801.,  990.,  461., 1605.,  109.,
       2174.,  862.,  649.,  668.,  802.,  509.,  826.,  371., 1365.,
        986., 1279., 2344., 1215.,  790., 1214.,  430., 1433.,  381.,
        708., 1634.,  812., 1082., 1880., 1973., 1053., 2395.,  561.,
       2857., 3529.,  486.,  634., 2878., 1036.,  951., 1462., 1113.,
       1458., 1814., 2925., 2519.,  816., 1919.,  950., 1733., 1643.])

In [50]:
df_culturels['Nombre_ecrans'].unique()

array([nan,  3.,  9.,  1.,  2., 10.,  7.,  4.,  6., 17.,  5., 12.,  8.,
       15., 13., 14., 22., 27., 11., 16., 18., 19., 23.])

In [51]:
df_culturels['Nombre_de_salles_de_theatre'].unique()

array([nan,  1.,  2.,  3.,  4.,  5.])

In [52]:
df_culturels['Organisme_Siège_du_theatre'].unique()

array([nan, 'Théâtre en Miettes', 'Théâtre de Nîmes',
       'Hectare - Scène conventionnée de Vendôme', 'Soufflerie',
       'Théâtre Municipal de Coutances',
       'Maison de la Culture de Bourges',
       'Empreinte - Scène nationale Brive-Tulle',
       '2 Scènes - Scène nationale de Besançon', 'MA Scène nationale',
       'Scènes du Jura', 'Carré - Scène nationale de Château-Gontier',
       'Manège de Maubeuge', 'TANDEM Douai-Arras',
       'Scène nationale du Sud Aquitain',
       "Scène nationale de l'Essonne, Agora-Desnos",
       'Virgule, Centre Transfrontalier de Création Théâtrale',
       'Bords de Scènes', 'Espace des Franciscaines',
       'Service culturel de Morteau', 'Romans Scènes',
       'Service culturel de Châteaudun', 'Salle Pierre-Mendès-France',
       'Théâtre Jean Marmignon', 'Service culturel de Lespinasse',
       "Direction de l'Animation Socioculturelle de la Mairie de Toulouse",
       "Service culturel d'Eysines", 'Théâtres de Saint-Malo',
       'Théâtres de Grenoble', "Centre culturel L'Ilyade", "Piano'cktail",
       'Astrolabe – Services culturels du Grand-Figeac',
       'Scènes mitoyennes', 'Théâtre de Châtel-Guyon', 'Espace',
       'Service culturel - Schiltigheim Culture', 'Théâtre Les Arts',
       'Théâtre de la Ville', 'Théâtre Luxembourg',
       'Service du développement culturel de Melun',
       'Service culturel de Maisons-Laffitte', 'Théâtre Gérard Philipe',
       'Merise',
       "Scènes de Territoire - Services culturels de l'Agglomération du Bocage Bressuirais",
       'Théâtre municipal de Castres',
       "Service culturel de la Communauté de Communes de l'Ouest Vosgien",
       "Théâtres de la Communauté d'Agglomération d'Épinal",
       'Service culturel de La Norville', 'Centre Ratel',
       "Théâtres du Val d'Yerres Val de Seine",
       'Service culturel de Pantin', "Service culturel d'Herblay",
       'Sablier', 'Barcarolle', 'Espaces Pluriels', 'Machinerie',
       '3 T - Scène conventionnée de Châtellerault',
       'Halle aux Grains - Scène nationale de Blois', 'Granit',
       "Points communs, Nouvelle scène nationale Cergy-Pontoise / Val d'Oise",
       'Théâtres Départementaux de la Réunion', 'Comédie-Française',
       'Association CREA', 'Service culturel de Bastia', 'Escale',
       'Espace culturel Jean Cocteau',
       "Service culturel de la Communauté d'Agglomération du Puy-en-Velay",
       'Embarcadère', 'Théâtre Le Dôme', "Théâtre de l'Hôtel de Ville",
       'Théâtre de Saint-Lô', 'Salmanazar', 'Service culturel de Langres',
       'Kiosque', 'Service culturel de Calais',
       'Espaces culturels Thann-Cernay',
       'Service culturel de Montceau-les-Mines', 'Carroi',
       'Théâtre des Collines', 'Association Expansion artistique',
       'Salle Jacques Brel', 'Service culturel de Dammaries-lès-Lys',
       'Espace Horizon', 'Centre culturel de Moissac',
       'Service culturel Durance Luberon Verdon Agglomération',
       'Service culturel de Carpentras',
       'Espace culturel et de Congrés René Cassin - La Gare',
       'Service culturel de Saint-Germain-lès-Arpajon',
       'Service culturel de Puteaux',
       'Service culturel de Champigny-sur-Marne', 'Vincennes Culture',
       'Compagnie Miranda / Théâtre de la Cité',
       'Compagnie Joli Collectif / Théâtre de Poche',
       "Compagnie Mises en scène / L'Entrepôt", 'Odyssud',
       'Carré-Colonnes', 'Pôle - Arts en circulation',
       'Tangram - Évreux-Louviers-Eure', 'Comète', 'Scène nationale 61',
       "Scène nationale d'Albi", 'Service culturel de Saint-Quentin',
       'Maison du Boulanger - Centre culturel',
       'Théâtre du Gymnase-Bernardines', 'Service culturel de Quetigny',
       'Centre culturel Michel Manet', 'Service culturel de Pessac',
       'Théâtre Henri Maurin', 'Centre culturel de Liffré',
       'Centre culturel Fougères Agglomération', 'Agora',
       'Espace Culturel Le Coléo',
       'Service culturel de Bruay-la-Buissière',
       'Maison des Associations et de la Culture',
       'Théâtre Actuel et Public de Strasbourg', 'Pôle en Scènes',
       'Salle Saint-Jean', 'Théâtres du Havre', 'Étincelle', 'Prisme',
       'Centres culturels de Limoges', 'Carré Belle-Feuille',
       'Service culturel de Meudon', 'Théâtre René Panhard',
       'Opéra Grand Avignon',
       'Compagnie Les Matapeste / Le Patronage Laïque',
       'Théâtre Joliette', 'Scènes de Pays dans les Mauges',
       'Maison des arts du Léman', 'Maison de la Musique de Nanterre',
       'Batoude, Centre des arts du cirque et de la rue',
       'Théâtre aux Mains Nues',
       'Service culturel Saint-Flour Communauté',
       "Service culturel d'Ussel", 'Théâtre de Beaune',
       'Théâtre de Chartres', 'Centre culturel Le Triskell',
       'CREAC - Cité Cirque', 'Service culturel de Mende',
       'Théâtre des Trois Chênes', 'Maisons Folie de Lille',
       'Service culturel de Tarbes - Tarbes en Scènes', 'Théâtre 13',
       'Centre culturel La Courée', 'Espace Maurice Béjart',
       "Service culturel d'Arpajon", 'Terrasse', 'Salle Gérard Philipe',
       'Centre culturel Le Figuier Blanc', 'Office culturel municipal',
       'Théâtre de Cusset', 'Rampe - La Ponatière',
       'Scènes du Golfe - Théâtre Arradon - Vannes',
       'Centre Wallonie Bruxelles', 'Théâtre de Chelles',
       'Théâtre National de Strasbourg', 'Service culturel de Vichy',
       'Complexe culturel des Terres Blanches',
       'Théâtres de Lanion Trégor Communauté',
       'Centre culturel François Mitterand', 'Centre culturel La Coupole',
       'Cap Nort', 'Service culturel de Sarreguemines',
       'Théâtres de Compiègne', 'Palace',
       'Centre artistique Jacques Catinat', 'Maison du Théâtre',
       'Théâtres de Montauban', 'Cinéma-Théâtre le Rocher',
       'Service culturel de Villiers-le-Bel', 'Espace Sarah Bernhardt',
       "Espace culturel L'Orange Bleue"], dtype=object)

In [53]:
(df_culturels.loc[df_culturels['Type équipement ou lieu']=='Bibliothèque','Nombre_de_salles_de_theatre']).isna().sum()

np.int64(16469)

In [54]:
len(df_culturels.loc[df_culturels['Type équipement ou lieu']=='Bibliothèque','Nombre_de_salles_de_theatre'])

16469

#### rajout d'une colonne catégorie

In [55]:
def assign_categorie(type_equipement):
    if type_equipement in ['Bibliothèque', "Centre d'art", 'Centre de création artistique','théatre', 'cinéma','Centre de création musicale', 'Théâtre', 'Conservatoire','Parc et jardin','Librairie', 'Lieu de mémoire', 'Musée', 'Opéra',"Centre culturel", "Scène", "Espace protégé"]:
        return ('vivant')
    elif type_equipement in ["Service d'archives", 'Monument']:
        return ('patrimoine')
    elif type_equipement ==  "Établissement d'enseignement supérieur":
        return ('Strange')
    else:
        return None  # Si un monument ne correspond à aucune catégorie

In [56]:
# Appliquer la fonction à la colonne 'monument'
df_culturels['categorie'] = df_culturels['Type équipement ou lieu'].apply(assign_categorie)
df_culturels.head()

,Source,Nom,Adresse,Complement Adresse,Code Postal,libelle_geographique,code_insee,Code Insee Arrondt,Identifiant origine,Type équipement ou lieu,...,Latitude,Longitude,Demographie_AP,Demographie_detail_entree,Démographie_detail_sortie,Multi_equipements,identifiant_QPV_24,identifiant_QPV_15,coordonnees_geo,categorie
0,Ministère de la Culture - Service du livre et ...,Médiathèque de COMMENSACQ,200 ROUTE DE TRENSACQ,NaN,40210.0,Commensacq,40085,402,LI14040,Bibliothèque,...,44.2106959785251,-0.822884754184157,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"44.2106959785251, -0.822884754184157",vivant
1,Ministère de la Culture - Service du livre et ...,Bibliothèque MUNICIPALE de CREON-D'ARMAGNAC,"12, Rue Raoul Follereau",NaN,40240.0,Créon-d'Armagnac,40087,402,LI7880,Bibliothèque,...,43.993868098598,-0.105588386166206,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.993868098598, -0.105588386166206",vivant
2,Ministère de la Culture - Service du livre et ...,Bibliothèque de GELOUX,2 PLACE DE LA MAIRIE,NaN,40090.0,Geloux,40111,402,LI7888,Bibliothèque,...,43.9810194468607,-0.638822931528512,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.9810194468607, -0.638822931528512",vivant
3,Ministère de la Culture - Service du livre et ...,Médiathèque CHALOSSE TURSAN HAGETMAU,4 PLACE GRAMONT,NaN,40700.0,Hagetmau,40119,402,LI1734,Bibliothèque,...,43.6573228675739,-0.593452338732522,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.6573228675739, -0.593452338732522",vivant
4,Ministère de la Culture - Service du livre et ...,Médiathèque de HINX,100 ROUTE DE DAX,NaN,40180.0,Hinx,40126,401,LI7894,Bibliothèque,...,43.701671909797,-0.927995381193468,Actif,historiquement dans la base en 2020,NaN,NaN,NaN,NaN,"43.701671909797, -0.927995381193468",vivant

### paramètres utiles

In [57]:
param_utiles=['Nom','Adresse','Code Postal','code_insee','libelle_geographique','Type équipement ou lieu','categorie','Latitude','Longitude']
param_utiles

['Nom',
 'Adresse',
 'Code Postal',
 'code_insee',
 'libelle_geographique',
 'Type équipement ou lieu',
 'categorie',
 'Latitude',
 'Longitude']

In [58]:
df_culturels_extracted = df_culturels.loc[:,param_utiles]
df_culturels_extracted.head()

,Nom,Adresse,Code Postal,code_insee,libelle_geographique,Type équipement ou lieu,categorie,Latitude,Longitude
0,Médiathèque de COMMENSACQ,200 ROUTE DE TRENSACQ,40210.0,40085,Commensacq,Bibliothèque,vivant,44.2106959785251,-0.822884754184157
1,Bibliothèque MUNICIPALE de CREON-D'ARMAGNAC,"12, Rue Raoul Follereau",40240.0,40087,Créon-d'Armagnac,Bibliothèque,vivant,43.993868098598,-0.105588386166206
2,Bibliothèque de GELOUX,2 PLACE DE LA MAIRIE,40090.0,40111,Geloux,Bibliothèque,vivant,43.9810194468607,-0.638822931528512
3,Médiathèque CHALOSSE TURSAN HAGETMAU,4 PLACE GRAMONT,40700.0,40119,Hagetmau,Bibliothèque,vivant,43.6573228675739,-0.593452338732522
4,Médiathèque de HINX,100 ROUTE DE DAX,40180.0,40126,Hinx,Bibliothèque,vivant,43.701671909797,-0.927995381193468

In [59]:
df_culturels_extracted.groupby('code_insee')

In [69]:
# Regroupement par 'code_postal' et 'categorie', puis comptage des éléments
df_nbre_categorie_parcommune = df_culturels_extracted.groupby(['code_insee', 'categorie']).size().reset_index(name='count')
df_nbre_categorie_parcommune

      code_insee   categorie  count
0          01001  patrimoine      1
1          01004  patrimoine      4
2          01004      vivant      1
3          01005  patrimoine      1
4          01005      vivant      1
...          ...         ...    ...
31523      98824      vivant      1
31524      98829      vivant      1
31525      98831      vivant      1
31526      98832      vivant      1
31527      99999      vivant      6

[31528 rows x 3 columns]

In [61]:
df_nbre_categorie_parcommune.to_csv(path_data+'nbre_categorie_parcommune.csv', sep='\t', index=False)  # Save as a tab

In [62]:
# Regroupement par 'code_postal' et 'type equipement', puis comptage des éléments
df_nbre_typequip_parcommune = df_culturels_extracted.groupby(['code_insee', 'Type équipement ou lieu']).size().reset_index(name='count')
df_nbre_typequip_parcommune

      code_insee Type équipement ou lieu  count
0          01001                Monument      1
1          01004            Bibliothèque      1
2          01004                  Cinéma      1
3          01004                Monument      3
4          01004      Service d'archives      1
...          ...                     ...    ...
38403      98829            Bibliothèque      1
38404      98831            Bibliothèque      1
38405      98832            Bibliothèque      1
38406      99999         Lieu de mémoire      5
38407      99999                   Musée      1

[38408 rows x 3 columns]

In [63]:
df_nbre_typequip_parcommune.to_csv(path_data+'nbre_typequip_parcommune.csv', sep='\t', index=False)  # Save as a tab

In [68]:
# Ajouter la colonne Code postal, en utilisant 'transform' pour ne pas perdre l'information
df_culturels_extracted['Code postal'] = df_culturels_extracted.groupby('code_insee')['Code Postal'].transform('first')

# Regrouper par Code commune et Catégorie, puis compter les éléments
grouped = df_culturels_extracted.groupby(['Code postal', 'code_insee', 'categorie']).size().reset_index(name='Nombre d\'éléments')

# Afficher le résultat final
print(grouped)

       Code postal code_insee   categorie  Nombre d'éléments
0           1000.0      01053  patrimoine                 38
1           1000.0      01053      vivant                 12
2           1000.0      01344      vivant                  1
3           1090.0      01165  patrimoine                  1
4           1090.0      01169  patrimoine                  1
...            ...        ...         ...                ...
31499      98880.0      98813      vivant                  1
31500      98884.0      98814      vivant                  1
31501      98890.0      98821  patrimoine                  1
31502      98890.0      98821      vivant                  1
31503      99999.0      99999      vivant                  6

[31504 rows x 4 columns]

In [64]:
path_data

'./src/data_basilics/'

uv faut peut etre pas nommer lenvironnement virtuel

on voit pas t'environnelment (car il est ignoré, il est dans gitignore)
mais on a la recette pour le creer grace à toml