In [1]:
import pandas as pd
import sqlite3
import os

In [19]:
src_data_basilics = '../src/data_basilics/'
src_data_cinema = '../src/data_cinema/'
src_data_festivals = '../src/data_festivals/'

In [20]:
festivals_data = pd.read_csv(src_data_festivals + 'festivals-global-festivals-_-pl.csv', delimiter=";")
basilics_data = pd.read_csv(src_data_basilics + 'base-des-lieux-et-des-equipements-culturels.csv', delimiter=";", low_memory=False)
villes_data= pd.read_csv('../src/' + 'programme-petites-villes-de-demain-liste-des-villes-beneficiaires.csv', delimiter=";", low_memory=False)
population_data = pd.read_csv('../data/' + 'donnees_communes.csv', delimiter=";", low_memory=False)

In [24]:
basilics_data.iloc[1778:1782]

,Source,Nom,Adresse,Complement Adresse,Code Postal,libelle_geographique,code_insee,Code Insee Arrondt,Identifiant origine,Type équipement ou lieu,...,Annee_Label_Appellation,Latitude,Longitude,Demographie_AP,Demographie_detail_entree,Démographie_detail_sortie,Multi_equipements,identifiant_QPV_24,identifiant_QPV_15,coordonnees_geo
1778,Centre national du cinéma et de l'image animée,Cine Festival,3 Avenue De Verdun,NaN,1500.0,Ambérieu-en-Bugey,01004,011,CINEMA720500,Cinéma,...,NaN,45.9612676311132,5.356424977731,Actif,historiquement dans la base en 2020 ; actif en...,NaN,NaN,NaN,NaN,"45.9612676311132, 5.356424977731"
1779,Centre national du cinéma et de l'image animée,Amphi,1 allée Des Brotteaux,NaN,1000.0,Bourg-en-Bresse,01053,012,CINEMA721100,Cinéma,...,NaN,46.2090001968553,5.23021484352695,Actif,historiquement dans la base en 2020 ; actif en...,NaN,NaN,NaN,NaN,"46.2090001968553, 5.23021484352695"
1780,Centre national du cinéma et de l'image animée,Cinema de Divonne,avenue des Thermes,NaN,1220.0,Divonne-les-Bains,01143,013,CINEMA139283,Cinéma,...,NaN,46.3578437226567,6.13873288906982,Actif,historiquement dans la base en 2020 ; actif en...,NaN,NaN,NaN,NaN,"46.3578437226567, 6.13873288906982"
1781,Centre national du cinéma et de l'image animée,Atmosphere,Parc Jeantet,NaN,1100.0,Oyonnax,01283,014,CINEMA301633,Cinéma,...,NaN,46.2585291818779,5.65478858871111,Actif,historiquement dans la base en 2020 ; actif en...,NaN,NaN,NaN,NaN,"46.2585291818779, 5.65478858871111"

In [21]:
db_name = 'database.db' 
conn = sqlite3.connect(db_name)

In [18]:
categories_evenements_data = pd.read_excel('../data/' + 'categories_evenements.ods', header=0)

In [15]:
categories_evenements_data

                          Spectacle vivant       vivant
0            Arts visuels, arts numériques       vivant
1                                  Musique       vivant
2                       Pluridisciplinaire       vivant
3                      Cinéma, audiovisuel       vivant
4                       Livre, littérature       vivant
5                           Espace protégé  patrimonial
6                                    Musée       vivant
7                          Lieu de mémoire  patrimonial
8                             Bibliothèque       vivant
9                                 Monument  patrimonial
10                                  Cinéma       vivant
11                           Conservatoire       vivant
12                      Lieu archéologique  patrimonial
13                          Parc et jardin  patrimonial
14                      Service d'archives  patrimonial
15                                 Théâtre       vivant
16                                   Scène       vivant
17                               Librairie       vivant
18  Établissement d'enseignement supérieur       vivant
19                            Centre d'art       vivant
20           Centre de création artistique       vivant
21             Centre de création musicale       vivant
22                         Centre culturel       vivant
23                                   Opéra       vivant

In [12]:
festivals_data_name = 'festivals_data'  
basilics_data_name = 'basilics_data'
villes_data_name = 'villes_data'
population_data_name = 'population_data'

festivals_data.to_sql(festivals_data_name, conn, if_exists='replace', index=False)
basilics_data.to_sql(basilics_data_name, conn, if_exists='replace', index=False)
villes_data.to_sql(villes_data_name, conn, if_exists='replace', index=False)
population_data.to_sql(population_data_name, conn, if_exists='replace', index=False)

#TODO cinema data
#for year in range(2023, 2002, -1):
#    file_path = f"../src/data_cinema/extracted/Etablissements_{year}.xlsx"
#    df = pd.read_excel(file_path)
#    df['year'] = year
#    df.to_sql('etablissements_annual_data', conn, if_exists='append', index=False)


conn.commit()
conn.close()

In [ ]:
# Etablissements_actifs treatement
#cinema_data = pd.ExcelFile(src_data_cinema + 'exploitation - liste des établissements actifs -.xlsx')

#sheet_names = cinema_data.sheet_names
#print(sheet_names)

#for sheet_name in cinema_data.sheet_names:
#    df = cinema_data.parse(sheet_name, header=4)
#    
#    df.to_excel(f'Etablissements_{sheet_name}.xlsx', index=False)

#    print(f"Created file for sheet: {sheet_name}")

In [ ]:
file_directory = "../src/data_cinema/extracted" 
excel_files = [f for f in os.listdir(file_directory) if f.endswith('.xlsx')]

unique_columns = set()
for file in excel_files:
    file_path = os.path.join(file_directory, file)
    df = pd.read_excel(file_path)
    unique_columns.update(df.columns)

unique_columns = sorted(list(unique_columns))
print(unique_columns)

['3D', 'AE', 'ART ET ESSAI', 'CODE COMMUNE', 'COMMUNE', 'DEPCOM', 'ECRANS', 'ECRANS 3D', 'Ecrans', 'FAUTEUILS', 'GENRE', 'NAutoC', 'NOM ETABLISSEMENT', 'NomEtab', 'N°AUTO', 'fauteuils', 'genre']

In [46]:
# Create the SQL command for creating the table
columns_sql = ",\n".join([f'"{col}" VARCHAR(255)' for col in unique_columns])

create_table_sql = f"""
CREATE TABLE etablissements_annual_data (
    year INT NOT NULL,
    {columns_sql}
);
"""

# Print the SQL command
print(create_table_sql)

CREATE TABLE etablissements_annual_data (
    year INT NOT NULL,
    "3D" VARCHAR(255),
"AE" VARCHAR(255),
"ART ET ESSAI" VARCHAR(255),
"CODE COMMUNE" VARCHAR(255),
"COMMUNE" VARCHAR(255),
"DEPCOM" VARCHAR(255),
"ECRANS" VARCHAR(255),
"ECRANS 3D" VARCHAR(255),
"Ecrans" VARCHAR(255),
"FAUTEUILS" VARCHAR(255),
"GENRE" VARCHAR(255),
"NAutoC" VARCHAR(255),
"NOM ETABLISSEMENT" VARCHAR(255),
"NomEtab" VARCHAR(255),
"N°AUTO" VARCHAR(255),
"fauteuils" VARCHAR(255),
"genre" VARCHAR(255)
);