In [1]:
import pandas as pd
import sqlite3
import os

In [2]:
src_data_basilics = '../src/data_basilics/'
src_data_cinema = '../src/data_cinema/'
src_data_festivals = '../src/data_festivals/'

In [5]:
festivals_data = pd.read_csv(src_data_festivals + 'festivals-global-festivals-_-pl.csv', delimiter=";")
basilics_data = pd.read_csv(src_data_basilics + 'base-des-lieux-et-des-equipements-culturels.csv', delimiter=";", low_memory=False)
villes_data= pd.read_csv('../src/' + 'programme-petites-villes-de-demain-liste-des-villes-beneficiaires.csv', delimiter=";", low_memory=False)

In [4]:
db_name = 'database.db' 
conn = sqlite3.connect(db_name)

In [ ]:
festivals_data_name = 'festivals_data'  
basilics_data_name = 'basilics_data'
villes_data_name = 'villes_data'

festivals_data.to_sql(festivals_data_name, conn, if_exists='replace', index=False)
basilics_data.to_sql(basilics_data_name, conn, if_exists='replace', index=False)
villes_data.to_sql(villes_data_name, conn, if_exists='replace', index=False)

#TODO cinema data
#for year in range(2023, 2002, -1):
#    file_path = f"../src/data_cinema/extracted/Etablissements_{year}.xlsx"
#    df = pd.read_excel(file_path)
#    df['year'] = year
#    df.to_sql('etablissements_annual_data', conn, if_exists='append', index=False)


conn.commit()
conn.close()

In [ ]:
# Etablissements_actifs treatement
#cinema_data = pd.ExcelFile(src_data_cinema + 'exploitation - liste des établissements actifs -.xlsx')

#sheet_names = cinema_data.sheet_names
#print(sheet_names)

#for sheet_name in cinema_data.sheet_names:
#    df = cinema_data.parse(sheet_name, header=4)
#    
#    df.to_excel(f'Etablissements_{sheet_name}.xlsx', index=False)

#    print(f"Created file for sheet: {sheet_name}")

In [ ]:
file_directory = "../src/data_cinema/extracted" 
excel_files = [f for f in os.listdir(file_directory) if f.endswith('.xlsx')]

unique_columns = set()
for file in excel_files:
    file_path = os.path.join(file_directory, file)
    df = pd.read_excel(file_path)
    unique_columns.update(df.columns)

unique_columns = sorted(list(unique_columns))
print(unique_columns)

['3D', 'AE', 'ART ET ESSAI', 'CODE COMMUNE', 'COMMUNE', 'DEPCOM', 'ECRANS', 'ECRANS 3D', 'Ecrans', 'FAUTEUILS', 'GENRE', 'NAutoC', 'NOM ETABLISSEMENT', 'NomEtab', 'N°AUTO', 'fauteuils', 'genre']

In [46]:
# Create the SQL command for creating the table
columns_sql = ",\n".join([f'"{col}" VARCHAR(255)' for col in unique_columns])

create_table_sql = f"""
CREATE TABLE etablissements_annual_data (
    year INT NOT NULL,
    {columns_sql}
);
"""

# Print the SQL command
print(create_table_sql)

CREATE TABLE etablissements_annual_data (
    year INT NOT NULL,
    "3D" VARCHAR(255),
"AE" VARCHAR(255),
"ART ET ESSAI" VARCHAR(255),
"CODE COMMUNE" VARCHAR(255),
"COMMUNE" VARCHAR(255),
"DEPCOM" VARCHAR(255),
"ECRANS" VARCHAR(255),
"ECRANS 3D" VARCHAR(255),
"Ecrans" VARCHAR(255),
"FAUTEUILS" VARCHAR(255),
"GENRE" VARCHAR(255),
"NAutoC" VARCHAR(255),
"NOM ETABLISSEMENT" VARCHAR(255),
"NomEtab" VARCHAR(255),
"N°AUTO" VARCHAR(255),
"fauteuils" VARCHAR(255),
"genre" VARCHAR(255)
);