In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [38]:
df = pd.read_csv('../data/results/_WITH_data_union_AS_SELECT_libelle_geographique_AS_Nom_commune_p_202411201007.csv', sep=";")

/tmp/ipykernel_30585/1490681959.py:1: DtypeWarning:

Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.

In [39]:
# Assuming your DataFrame is named 'df'
df = df.drop(df.columns[0], axis=1)

In [41]:
df.to_csv('../data/results/final_data_ed_without_commune_name.csv', sep=";")

In [25]:
#type of the data in columns

df.dtypes

Nom commune principale     object
Code Insee commune        float64
Région                     object
Département                object
Code Postal               float64
commune_latitude          float64
commune_longtitude        float64
Type                       object
Nom d'evenement            object
etb_latitude               object
etb_longtitude             object
PTOT                      float64
Petite commune             object
Category                   object
n_ecrans_cinema           float64
n_fauteuils_cinema        float64
n_salles_theatre          float64
dtype: object

In [6]:
df.tail()

,Nom commune principale,Code Insee commune,Région,Département,Code Postal,commune_latitude,commune_longtitude,Type,Nom d'evenement,etb_latitude,etb_longtitude,PTOT,Petite commune,Category,n_ecrans_cinema,n_fauteuils_cinema,n_salles_theatre
78255,Île-de-Sein,29083.0,Bretagne,Finistère,29990.0,48.038448,-4.857726,Monument,deux Menhirs Dits Les Causeurs,48.038047,-4.851086,275.0,non,patrimonial,NaN,NaN,NaN
78256,Île-des-Pins (L’),98809.0,Collectivité d'Outre-Mer,Nouvelle-Calédonie,98832.0,NaN,NaN,Bibliothèque,Bibliothèque Municipale,-22.540298,167.456349,NaN,non,vivant,NaN,NaN,NaN
78257,Ô-de-Selle,80485.0,Hauts-de-France,Somme,80160.0,49.771863,2.195706,Bibliothèque,Bibliothèque d'O de Selle (Loeuilly),49.775549,2.173379,1169.0,non,vivant,NaN,NaN,NaN
78258,Ô-de-Selle,80485.0,Hauts-de-France,Somme,80160.0,49.771863,2.195706,Monument,Château,49.753425,2.178861,1169.0,non,patrimonial,NaN,NaN,NaN
78259,Ô-de-Selle,80485.0,Hauts-de-France,Somme,80160.0,49.771863,2.195706,Monument,demeure Et Parc de Chasse,49.789433,2.148562,1169.0,non,patrimonial,NaN,NaN,NaN

In [26]:
# filter df by Nom commune principale = 80485.0

df_odeselle= df[df['Code Insee commune'] == 80485.0]

In [27]:
df_odeselle

,Nom commune principale,Code Insee commune,Région,Département,Code Postal,commune_latitude,commune_longtitude,Type,Nom d'evenement,etb_latitude,etb_longtitude,PTOT,Petite commune,Category,n_ecrans_cinema,n_fauteuils_cinema,n_salles_theatre
78257,Ô-de-Selle,80485.0,Hauts-de-France,Somme,80160.0,49.771863,2.195706,Bibliothèque,Bibliothèque d'O de Selle (Loeuilly),49.775549,2.173379,1169.0,non,vivant,NaN,NaN,NaN
78258,Ô-de-Selle,80485.0,Hauts-de-France,Somme,80160.0,49.771863,2.195706,Monument,Château,49.753425,2.178861,1169.0,non,patrimonial,NaN,NaN,NaN
78259,Ô-de-Selle,80485.0,Hauts-de-France,Somme,80160.0,49.771863,2.195706,Monument,demeure Et Parc de Chasse,49.789433,2.148562,1169.0,non,patrimonial,NaN,NaN,NaN

In [37]:
# create sunburst chart with plotly , parents = Category, labels = Type, values = count

fig = px.sunburst(
    data_frame=df_odeselle,
    path=['Category', 'Type'],  # Defines the hierarchical structure
    values=df_odeselle['Type'].value_counts().values
)

fig.update_layout(
    margin=dict(t=0, l=0, r=0, b=0)
)

fig.show()

ValueError: All arguments should have the same length. The length of column argument `df[path_0]` is 3, whereas the length of  previously-processed arguments ['values'] is 2